.div-pages {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff6;
  border-radius: 20px;
}
.button-pages {
  background: none;
  color: #333;
  width: 40px;
  height: 40px;
  border: none;
}
.icon-button {
  height: 20px;
  width: auto;
}
.icon-button:hover {
  cursor: pointer;
  color: #ccc;
}
.span-pages {
  margin: 0 10px;
}
