.div-pages{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff6;
}
.button-pages{
    background: none;
    color: #333;
    width: 40px;
    height: 40px;
    border: none;
}
.icon-button{
    height: 20px;
    width: auto;
}
.span-pages{
    margin: 0 10px;
}

@media (min-width: 600px){
    .div-pages{
        width: 25%;
        margin: 20px 30px;
        border-radius: 20px;
    }
}