.contain-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.filter{
    padding: 10px;
    border-radius: 10px;
    background-color: #fffa;
    font-weight: bold;
}